
  .nazwaprzycisku {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
   
    
  }
  input[type="text"] {
      width: 600px; /* Dostosuj szerokość według potrzeb */
      padding: 10px; /* Dostosuj padding według potrzeb */
      margin-bottom: 15px;
      font-size: 24px;
      border: none; /* Usuwa obramowanie przycisków */
      border-radius: 5px;
      box-sizing: border-box;
    }
   

 
  .publiczny{
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    font-size: 24px;
    margin-bottom: 30px;
    
  }
 
  .custom-header {
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
 
  
  .custom-button {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #469536;
    color: #070707;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 170px;
    height: 70px;
    margin-top: 20px;
  }
  
  .Typ {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px; 
    font-family: 'Times New Roman', Times, serif;
  }

  .publiczny {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    align-items: center;
    font-size: 28px;
    margin-bottom:20px;
    
    
  }
  .public-label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center; 
 
  }
  body{
    margin: 0;
    padding: 0;
    background-image: url('../images/2.jpg');  /* Ścieżka do Twojego obrazu */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    /* Dodatkowe style dla body, jeśli są potrzebne */
  }
  .custom-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .container {
    background-color: #ccc; /* Szary kolor tła kontenera */
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    max-height: 800px; 
    margin-right: 500px;
    margin-top: 110px;
  }