
  .nazwa {
    font-family: 'YourCustomFont';
    font-size: 24px;
    margin-bottom: 20px;
  }
  input[type="text"] {
      width: 600px; /* Dostosuj szerokość według potrzeb */
      padding: 10px; /* Dostosuj padding według potrzeb */
      margin-bottom: 15px;
      font-size: 16px;
      border: 1px solid #8b2a2a;
      border-radius: 5px;
      box-sizing: border-box;
    }
    input[type="checkbox"] ::before{
      content: "\2713"; /* Kod Unicode dla symbolu "✓" (fajeczki) */
      font-size: 24px; /* Rozmiar ikony */
      color: #007bff; /* Kolor ikony */
      display: block; /* Wyświetlanie ikony jako bloku */
      visibility: hidden; /* Ukrycie ikony domyślnie */
      margin-bottom: 30px;
      font-size: 40px;
    }

 
  .publiczny{
    font-family:'YourCustomFont';
    color: #000000;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .custom{
    width: 400px; /* Dostosuj szerokość według potrzeb */
      padding: 10px 20px ;
    font-family:'YourCustomFont';
    color: #f4f9f5;
    font-size: 24px; 
    background-color: #008000; /* Kolor tła przycisku */
    border: 1px solid #d9ff7f;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 30px; 
  }