.maptoolbar{
    position:flex;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  justify-content: space-between; /* Rozdziela przyciski na krańce kontenera */
  align-items: center;
  padding: 30px; /* Dodaje wewnętrzny odstęp, aby przyciski nie przykleiły się do krawędzi */
  font-size: 70px;
  background-color: fff;
  border-radius: 20%;
  
}
    


.sonsor
.location {
  background-color:#429d3a; /* Dostosuj kolor tła przycisków */
  border: none; /* Usuwa obramowanie przycisków */
  margin: 0; /* Usuwa marginesy przycisków */
  color: #fff; /* Kolor tekstu przycisków */
  padding: 30px; /* Zwiększa rozmiar przycisków */
  border-radius: 80px; /* Dodaje zaokrąglenia do przycisków */
  font-weight: bold; /* Pogrubienie tekstu */
  font-size: 70px;
}
