.maptoolbar{
    position:absolute;
    z-index: 400;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
  justify-content: space-between; /* Rozdziela przyciski na krańce kontenera */
  align-items: center;
  padding: 30px; /* Dodaje wewnętrzny odstęp, aby przyciski nie przykleiły się do krawędzi */
  border-radius: 10%;
  
}
    


.sonsor,
.location {
  background-color: #469536; /* Dostosuj kolor tła przycisków */
  border: none; /* Usuwa obramowanie przycisków */
  margin: 0; /* Usuwa marginesy przycisków */
  color: #040101; /* Kolor tekstu przycisków */
  padding: 27px; /* Zwiększa rozmiar przycisków */
  border-radius: 25%; /* Dodaje zaokrąglenia do przycisków */
  font-weight: bold; /* Pogrubienie tekstu */
  font-size: 24px;
}
.map{
  width: 100%;
  height: 100%;
  
}

.home{
  width: 100vw;
  height: calc(100vh - 90px);
}