/* .settings */
.layout{
  min-height: 100vh;
}
footer{top: 90%;
  position:static;

}
/* unvisited link */
a:link {
    color: #346fc3;
  }
  
  /* visited link */
  a:visited {
    color: #000000;}
  
  /* mouse over link */
  a:hover {
    color: #2a6c2a;
  }
  
  /* selected link */
  a:active {
    color: #5181c5;
  }
.hidden{
  display: none !important;

}
main{
  min-height: calc(100vh - 90px);
}
  