
.layout{
  min-height: 100vh;
}
footer{top: 90%;
  position:static;

}

a:link {
    color: #000000;
  }
  
 
  a:visited {
    color: #000000;}
  
  /* mouse over link */
  a:hover {
    color: #2a6c2a;
  }
  
  
  a:active {
    color: #5181c5;
  }
.hidden{
  display: none !important;

}
main{
  min-height: calc(100vh - 110%);
}
