
.name1 {
 font-family:'Times New Roman', Times, serif;
 display: flex;
 justify-content: center; 
 align-items: center; 
 font-size:30px;
 margin-top: 1%;
 
 

}.sensorElement {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    
  }
  .bottom-plus{
    position: fixed;
    bottom: 20px; /* Dystans od dołu strony */
    right: 20px; /* Dystans od prawej strony */
    font-size: 50px; /* Rozmiar ikony */
    
  }
  
  .information {  
  font-family: 'Times New Roman', Times, serif;
  border-radius: 8px;
  text-align: center; /* Tekst na środku przycisku */
  color: #000000;
  background-color: #0a5c0a;
  outline: none;
  height: 60px;
  width: 150px;
  top: 70%; /* Ustawienie w połowie wysokości ekranu */
  right: 20px;
  transform: translateY(-80%); /* Przesunięcie przycisku o połowę jego własnej wysokości w górę, aby być dokładnie na środku */
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .link-to-sensor{
    font-size: 20px;
  }