
.name {
 font-size:24px;
 font-family:Verdana ; 
 display: flex;
 justify-content: center; 
 align-items: center; 

}.sensorElement {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    font-family: Verdana ; 
    
  }
  .bottom-plus{
    position: fixed;
    bottom: 20px; /* Dystans od dołu strony */
    right: 20px; /* Dystans od prawej strony */
    font-size: 50px; /* Rozmiar ikony */
    
  }
  
  .sensor-0{
    background-color: #646464;
  }
  
  
  .sensor-1 {
    background-color:#acacac;
  }
  
 .information{
  font-family: Verdana;
  border-radius: 8px;
  text-align: right;
  color:#fafffa;
  background-color:#0a5c0a;
  outline: none;
  height: 60px;
  width: 150px;
  top: 250px; /* Przykładowa wartość dla odległości od góry strony */
  right: 459px;
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 } 
