
.typ,
.public-info {
  font-family:  Verdana, sans-serif;
  font-size: 18px;
  color: #010000;
  text-align: left;
  margin: 20px;
  line-height: 1.5;
  
}
.sensor-name {
  font-family:  Verdana, sans-serif;
  font-size: 24px;
  color:#010000;
  text-align: left;
  margin: 20px;
  line-height: 1.5;
  
}


.name{
   font-family:Verdana,sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #010000;
  text-align: left;
  margin: 20px;
  line-height: 1.5;
}
.deleteSensor{
  font-weight: bold;
  color: #020101;
  padding: 24px;
  border-radius: 10px;
  background-color: #93bf85;
  position: fixed;
  bottom: 40px;
  height: 70px;
right:20px;
margin-right: 30px;
justify-content: center;
border: none; /* Usuwa obramowanie przycisków */
  margin: 0; /* Usuwa marginesy przycisków */
  
}
.background{
  
  background-color:#dbead5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.sukces {
  background-color: #4caf50; /* Zielony */
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.blad {
  background-color: #f44336; /* Czerwony */
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 10px;
}