.sidebar{
  font-family:  Verdana, sans-serif;
    position: fixed;
    top:0;
    height: 100vh;
    left:0;
    width: 300px;
    border: 1px solid black;
    transition: 350ms;
    background-color:#c0c0c0;
    z-index: 9990;
    font-weight: bold;
  font-style:italic ; 
  padding: 20px;
  font-size: 24px;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav-links li{
    margin-top: 30px;
}
.icon{
  align-items: center;
  justify-content: center;
  display: flex;
 
  
}
.icon-user{
  margin:20px auto;
  display:block;
  font-size: 85px;
   
}
.login{
  font-family:  Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px; 
  font-weight: bold; /* Pogrubienie tekstu */
  font-style: italic; /* Styl kursywy */
  font-size: 24px;
  margin-top:auto;
}

.arrow{
  font-size: 45px;
  color:rgb(6, 12, 7);
  background-color:#93bf85;
font-weight: bold;
border: none;
border-radius: 10px;
position: fixed;
top: 10px; /* Przesunięcie do góry */
left: 10px; /* Przesunięcie w lewo */

}
.bottom-link {
  font-family:  Verdana, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 45px;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  align-items: center;
  display: flex;
}
 .login button{
  font-family: Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: bold;
  font-style: italic;
  font-size: 24px; /* Adjust the font size as needed */
  margin-right:20px;
  background-color: #93bf85; /* Set the background color */
  color: #0b0707; /* Set the text color */
  border: none;
  border-radius: 10px;
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
 }