.sidebar{
  font-family:'Times New Roman', Times, serif;
    position: fixed;
    top:0;
    height: 100vh;
    left:0;
    width: 300px;
    border: 1px solid black;
    transition: 350ms;
    background-color:#c0c0c0;
    z-index: 9990;
    font-weight: bold;
  padding: 20px;
  font-size: 24px;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav-links{
  font-size: 28px;
}
.icon{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 80px;
 left:10%;
  
}
.icon-user{
  margin:9px auto;
  margin-left:75px;
  display:block;
  font-size: 100px;

   
}
.login{
  font-family:'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px; 
  font-weight: bold; /* Pogrubienie tekstu */
  font-size: 28px;
  margin-top:auto;
}

.arrow{
  width: 65px;
  height: 65px;
  font-size: 50px;
  color:rgb(6, 12, 7);
  background-color:#469536;
font-weight: bold;
border: none;
border-radius: 10px;
position: fixed;
top: 20px; /* Przesunięcie do góry */
left: 40px; /* Przesunięcie w lewo */
cursor: pointer;

}
.bottom-link {
  font-family:  'Times New Roman', Times, serif;
  position: absolute;
  left: 12%;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 45px;
  font-weight: bold;
  font-size: 28px;
  display: flex;
}
 .login button{
  font-family:'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 180px;
  font-weight: bold;
  font-size: 24px; 
  margin-right:10px;
  background-color: #469536;
  color: #0b0707; /* Set the text color */
  border: none;
  border-radius: 10px;
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
 }
 .mr{
  margin-right: 8px;
 }
 .sidebar-background{
  position: fixed;
  top:0;
  height: 100vh;
  left:300px;
  width: 100%;
  z-index: 9900;
 }