.sidebar{
    position: fixed;
    top:0;
    height: 100vh;
    left:0;
    width: 300px;
    border: 1px solid black;
    transition: 350ms;
    background-color: rgb(138, 197, 216);
    z-index: 9990;
    font-weight: bold;
  font-style:italic ; 
  padding: 20px;
  font-size: 24px;
  

  
}
.nav-links li{
    margin-top: 30px;
}
.icon-user{
  margin:30 auto;
  font-size:50px;
  display:block;
    
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; 
  font-weight: bold; /* Pogrubienie tekstu */
  font-style: italic; /* Styl kursywy */
  font-size: 34px;
  
}
.icon{
  align-items: center;
  justify-content: center;
  display: flex;
}
.arrow{
  font-size: 40px;
  color:rgb(14, 103, 30);
  background-color:#007bff;
border-radius: 20%;
font-weight: bold;
}
.bottom-link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 45px;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  align-items: center;
  display: flex;

}
